Package: com.isklikas.photogifs
Name: GIFRoll
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: View your camera roll GIFs with their animation in the stock Photos app and the stock photo picker!
Maintainer: isklikas
Author: isklikas
Section: Tweaks
