<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>image</key>
			<string>/Library/PreferenceBundles/PhotoGifsPrefs.bundle/GIFRoll-Header.png</string>
			<key>background</key>
			<string>#EFEFF4</string>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>PFHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>createAlbum</string>
			<key>label</key>
			<string>Create GIF Album</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>follow</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>github.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>source</string>
			<key>label</key>
			<string>Read the code on GitHub</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>paypal.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate on PayPal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>On 2016 and 2017, GIFs simply took over the internet! For years, simply viewing these GIFs used to be a paid premium. In 2017, that makes no sense. So, I decided that this needs to become both free and Open Source, once and for all!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>However, I am just a university student, living off my student loan, so any donations are always welcome! Thank you for using GIFRoll!</string>
		</dict>
	</array>
	<key>title</key>
	<string>GIFRoll</string>
</dict>
</plist>
